<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
.ml{
    background-color:sandybrown;
}
  .bn{
      text-align: center;
      color:blue;
  }      
    
    
        
    </style>
    
</head> 

<body class="ml">
    <h1 class="bn">Welcome to our Prediction</h1>
    <br>
    <br/>
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq8NDhPnxQxCEsMDBUNl4u2LIY3RsFOtbJ2A&usqp=CAU " height="190px" >
 
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBBDh1gk76GgiGV6ef1XADG7Spa_mIcyIr7g&usqp=CAU"  >

 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <form action="/prediction" method="POST" enctype="multipart/form-data">
		<input type="file" name="img">
		<input type="submit" name="btn" value="predict">
	</form>
</body>
</html>